.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
*.prefs
*.snap
*.resources
.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
*.png
*.snap
*.resources
.metadata/.plugins/org.eclipse.core.resources/.snap
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
*.snap
*.resources